@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

:root {
  --header-menu-color: #a36d6a;
  --header-sub-menu-color: #4e3836;
  --theme-color-primary: #a36d6a;
  --theme-color-secondary: #4e3836;
  --theme-color-secondary-light: rgba( 78, 56, 54, 0.3 );
  --theme-color-third: #6a4f4d;
  --theme-color-forth: #f8f4f3;
  --color-wafer: #e4d3d1;
  --color-hemp: #8c7975;
  --color-copper-rose: #936d6a;
}

body {font-family: 'NotoSansKR','akkurat' sans-serif;}
#wrapper {overflow: hidden;}
/* 본문 바로가기 */
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; z-index: 100000; line-height: 40px; text-align: center; background-color: rgba(0,0,0,0.6); color: #fff; font-size: 16px; transition: top 0.3s;}
#skip-nav:focus {top: 0;}
.mt-15 {margin-top: 15px;}
.mobile {display: none !important;}





/* header */
#header {position: fixed; width: 100vw; z-index: 100;}
#header .logo {position: absolute; left: 20px; top: 20px; transition: all 1.5s;}
/* logo.on이 붙으면 */
#header .logo.on {top: -120px; opacity: 0;}
#header .logo a img {width: 115px; height: 35px;}
.header-icon {display: flex; position: absolute; right: 20px; top: 20px;}
.header-icon li {position: relative;}
div.badge a {display: inline-block; position: absolute; right: 80%; top: 5px; width: 12px; height: 12px; border-radius: 50px; background-color: var(--theme-color-primary); overflow: hidden; color: transparent; text-align: center; font-size: 10px; line-height: 18px; transition: all 0.3s;}
div.badge a:hover,
div.badge a:focus {width: 120px; height: 18px; color: #fff; line-height: 18px;}

 /* nav */
 /* shop */
 nav .shop {position: fixed; left: 20px; top: 100px; z-index: 90; color: #fff;}
 nav .shop img {width: 20px;}

 /* 햄버거 버튼 */
 nav .menu-btn {display: block; position: fixed; left: 20px; top: 140px; width: 30px; height: 20px; z-index: 99; text-indent: -9999999px;} 
 nav .menu-btn span {position: absolute; left: 0; top: 50%; transform: translate(0, -50%); width: 100%; height: 1px; background-color: #fff;}
 nav .menu-btn span::before {content: ''; position: absolute; left: 0; top: 10px; width: 100%; height: 1px; background-color: #fff;}
 nav .menu-btn span::after {content: ''; position: absolute; left: 0; bottom: 10px; width: 100%; height: 1px; background-color: #fff;}

 nav {font-family: 'constania', 'serif';}
 nav > ul {position: fixed; right: 100%; top: 0; background-color: #fff; width: 300px; z-index: 99; color: var(--header-menu-color); transition: right 0.3s;}
 /* nav > ul.on이 붙으면  */
 nav > ul.on {right: calc(100% - 300px);}
 nav > ul {height: 100vh; overflow: auto; padding-left: 20px; padding-top: 120px; cursor: pointer;}
 nav > ul > li {font-size: 30px; line-height: 1.83;}
 nav > ul > li > ul {font-size: 15px; color: var(--header-sub-menu-color); padding-left: 20px; line-height: 1.83;}
 nav > ul > li > ul > li {margin-bottom: 5px;}
 nav > ul > li > ul > li:last-child {margin-bottom: 20px;}
 nav > ul > li > ul > li > a {display: inline-block; position: relative;}
 nav > ul > li > ul > li > a::before {content: ''; position: absolute; left: 0; bottom: 0; width: 0; height: 1px; background-color: var(--header-menu-color); transition: all 0.3s;}
 nav > ul > li > ul > li:hover a::before {width: 100%;}




/* main */
/* main-banner */
#main-banner {position: relative; width: 100%; height: 100vh; background: url(../img/01_main_slider1_pc_bg2.jpg) center center no-repeat; background-size: cover;}
.banner-contents {width: 100%; position: absolute; left: 0; bottom: 10%; padding-left: 30px; padding-top: 30px; text-align: left; color: #808080; line-height: 1.84;}
.banner-contents .category {font-size: 14px; opacity: 0.6;}
.banner-contents .title {font-family: 'times new roman', 'serif'; font-size: 60px;}
.banner-contents .sub-title {font-size: 22px; font-weight: 500; margin-top: -10px; margin-bottom: 40px;}

.banner-contents a {font-size: 16px; border-bottom: 1px solid #808080;}
.banner-contents a:hover {border-color: transparent;}

 /* best */
 #best {width: 100%; height: 100vh; background-color: var(--theme-color-forth);}
 #best .container {width: 100%; height: 100%; display: flex;}
 #best .container .left-img {width: 50%; background-repeat: no-repeat; background-position: center center; background-size: cover; overflow: hidden;}
 div.image-slide {position: relative; width: 100%; overflow: hidden;}
 div.image-slide > div.box {position: relative; width: 100%;}
 .mySwiper .swiper-button-prev,
 .mySwiper .swiper-button-next {width: 50px; height: 50px; color: var(--theme-color-forth); background-color: rgba(0, 0, 0, 0.1);}
 .mySwiper .swiper-button-prev:after,
 .mySwiper .swiper-button-next:after {font-size: 20px;}

 #best .container .right-contents {width: 50%; height: 100%; font-family: 'times new roman', 'serif'; color: var(--theme-color-secondary); overflow: auto;}
 #best .container .right-contents .contents-text {width: 100%; position: relative; padding-top: 30px; padding-left: 30px; margin-bottom: 100px;}
 #best .container .right-contents .category {font-size: 14px; opacity: 0.6;}
 #best .container .right-contents .title {font-size: 60px; line-height: 1.83;}
 #best .container .right-contents ul {width: 100%; display: flex; flex-wrap: wrap; padding: 10px 10px; text-align: center;}
 #best .container .right-contents ul li {width: 50%; max-width: 300px; margin: 0 auto; padding: 10px 10px 100px;}
 #best .container .right-contents ul li .pd-img {display: block; border: 1px solid transparent; margin-bottom: 20px;}
 /* on붙였을때 */
 #best .container .right-contents ul li .pd-img.on {border-color: var(--theme-color-secondary);}
 #best .container .right-contents ul li p.pd-title {font-weight: bold; font-size: 20px; color: var(--theme-color-secondary); line-height: 1.6em;}
 #best .container .right-contents ul li p.pd-name {font-size: 20px; color: var(--theme-color-secondary);}
 #best .container .right-contents ul li a.shop {display: inline-block; font-size: 16px; color: var(--theme-color-secondary); border-bottom: 1px solid var(--theme-color-secondary); margin-top: 20px;}
 #best .container .right-contents ul li a.shop:hover {border-color: transparent;}



/* inspires */
#inspires {width: 100%; height: 100vh;}
#inspires .container {width: 100%; height: 100%; display: flex;}
#inspires .container .left-img {width: 50%; background: url(../img/04_main_event_banner1_pc_bg.jpg)center center no-repeat; background-size: cover;}

#inspires .container .right-contents {width: 50%; padding-top: 30px;}
#inspires .container .right-contents .contents-img {width: 50vh; margin-left: 30px;}
#inspires .banner-contents {position: static; color: var(--theme-color-secondary);}
#inspires .banner-contents .category {margin-bottom: -15px;}
#inspires .banner-contents .title {line-height: 1.6;}
#inspires .banner-contents .sub-title {line-height: 1.6;}
#inspires .banner-contents a {color: var(--theme-color-primary); border-bottom: 1px solid #a36d6a;}
#inspires .banner-contents a:hover {border-color: transparent;}



 /* sns */
 #sns {width: 100%; height: 100vh; background-color: var(--theme-color-forth);}
 #sns .container {width: 100%; height: 100%; display: flex;}
 #sns .container .left-img {width: 50%; background: url(../img/05_main_sns_pc_mo_bg.jpg) center center no-repeat; background-size: cover;} 

 #sns .container .right-contents {position: relative; width: 50%; font-family: 'times new roman', 'serif'; color: var(--theme-color-secondary); overflow: hidden;}
 #sns .container .right-contents .contents-text {position: relative; padding-top: 30px; padding-left: 30px; z-index: 50;}
 #sns .container .right-contents .category {font-size: 14px; line-height: 1.83; opacity: 0.6;}
 #sns .container .right-contents .title {font-size: 60px; line-height: 1.83;}
 #sns .container .right-contents a {font-family: 'NotoSansKR',sans-serif; font-size: 16px; color: var(--theme-color-primary); border-bottom: 1px solid #a36d6a;}
 #sns .container .right-contents a:hover {border-color: transparent;}

 /* sns-right-img animation */
 #sns .container .right-contents .insta-img {position: absolute; width: 45vh;}
 #sns .container .right-contents .insta-img:nth-of-type(1) {top: 30%; right: 16%; animation: insta-move-effect-1 75s linear 0s infinite;}
 #sns .container .right-contents .insta-img:nth-of-type(2) {top: 80%; right: 5%; animation: insta-move-effect-2 76s linear 0s infinite;}
 #sns .container .right-contents .insta-img:nth-of-type(3) {top: 62%; right: -25%; animation: insta-move-effect-3 87s linear 0s infinite;}
 #sns .container .right-contents .insta-img:nth-of-type(4) {top: 15%; right: -65%; animation: insta-move-effect-4 63s linear 0s infinite;}
 #sns .container .right-contents .insta-img:nth-of-type(5) {top: 92%; right: -90%; animation: insta-move-effect-5 89s linear 0s infinite;}
 #sns .container .right-contents .insta-img:nth-of-type(6) {top: 50%; right: -50%; animation: insta-move-effect-6 80s linear 0s infinite;}
 #sns .container .right-contents .insta-img:nth-of-type(7) {top: 13%; right: -20%; animation: insta-move-effect-7 68s linear 0s infinite;}
 #sns .container .right-contents .insta-img:nth-of-type(8) {top: 13%; right: -20%; animation: insta-move-effect-8 68s linear 0s infinite;}

@keyframes insta-move-effect-1 {
  /* 50%일때  transform: translateX(-60vw)시작, 50.001%일때 transform: translateX(25vw)까지 와~ 75초동안 */
    50% {
        transform: translateX(-60vw) translateY(0%);
    }

    50.001% {
        transform: translateX(25vw) translateY(0%);
    }
}
@keyframes insta-move-effect-2 {
  50% {
      transform: translateX(-45vw) translateY(0%);
  }

  50.001% {
      transform: translateX(30vw) translateY(0%);
  }
}
@keyframes insta-move-effect-3 {
  50% {
      transform: translateX(-30vw) translateY(0%);
  }

  50.001% {
      transform: translateX(45vw) translateY(0%);
  }
}
@keyframes insta-move-effect-4 {
  50% {
      transform: translateX(-30vw) translateY(0%);
  }

  50.001% {
      transform: translateX(62vw) translateY(0%);
  }
}
@keyframes insta-move-effect-5 {
  50% {
      transform: translateX(-70vw) translateY(0%);
  }

  50.001% {
      transform: translateX(70vw) translateY(0%);
  }
}
@keyframes insta-move-effect-6 {
  50% {
      transform: translateX(-70vw) translateY(0%);
  }

  50.001% {
      transform: translateX(70vw) translateY(0%);
  }
}
@keyframes insta-move-effect-7 {
  50% {
      transform: translateX(-70vw) translateY(0%);
  }

  50.001% {
      transform: translateX(70vw) translateY(0%);
  }
}
@keyframes insta-move-effect-8 {
  50% {
      transform: translateX(-70vw) translateY(0%);
  }

  50.001% {
      transform: translateX(70vw) translateY(0%);
  }
}

/* 1:1상담 */
.channel-talk {position: fixed; bottom: 50px; right: 30px; width: 100px; height: 40px; text-indent: -99999px; z-index: 100;}
.channel-talk img {display: block;}

/* footer */
#footer {width: 100%; background-color: var(--theme-color-primary);}
#footer .container {padding: 40px 20px 20px;}
#footer .container .footer-top {display: flex; width: 100%;}

#footer .footer-left {width: 50%; color: #fff; opacity: 0.65; font-size: 11px; line-height: 1.64;}
#footer .footer-left .footer-logo {display: block; width: 64px; height: 50px; margin-bottom: 50px;}
#footer .footer-left ul li.info {margin: 10px 0;}

#footer .footer-right {display: flex; width: 50%; font-family: 'times new roman', 'serif'; line-height: 1.83; color: #fff;}
#footer .footer-right > div {width: 33.333%;}
#footer .footer-right .footer-category {color: #fff; font-size: 13px; opacity: 0.9; font-weight: bold; margin-bottom: 5px;}
#footer .footer-right .center p:nth-child(2) {font-family: 'Georgia', serif; font-size: 32px; font-weight: bold; line-height: 1.11; margin-bottom: 15px;}
#footer .footer-right .center p:nth-child(3),
#footer .footer-right .center p:nth-child(4)
{font-size: 11px; letter-spacing: -0.15;}
#footer .footer-right .category-list {font-size: 11px; letter-spacing: -0.15;}
#footer .footer-right .category-list a {border-bottom: 1px solid rgba(255, 255, 255, 0.65); opacity: 0.65;}
#footer .footer-right .category-list a:hover {border-color: transparent; opacity: 1;}

#footer .footer-bottom {display: flex; justify-content: center; padding-top: 20px;}
#footer .footer-bottom ul {display: flex;}
#footer .footer-bottom ul li a {display: block; width: 30px; height: 30px;}





/* */
@media all and (max-width: 560px) {
  .pc {display: none !important;}
  .mobile {display: block !important;}

  /* main-banner */
  #main-banner {position: relative; width: 100%; height: 100vh; background: url(../img/01_main_slider1_mo_bg.jpeg) center center no-repeat; background-size: cover;}
  div.badge a {display: inline-block; position: absolute; right: 80%; top: 5px; width: 120px; height: 18px; border-radius: 50px; background-color: var(--theme-color-primary); color: #fff; text-align: center; font-size: 10px; line-height: 18px;}
  .banner-contents {color: #fff; text-align: right; padding-right: 10px;}
  .banner-contents .category {font-size: 10px;}
  .banner-contents .title {font-family: 'times new roman', 'serif'; font-size: 35px; margin-bottom: 10px;}
  .banner-contents .sub-title {font-size: 15px; font-weight: 500; margin-bottom: 20px;}
  .banner-contents a {font-size: 10px; border-color: #fff;}

  /* best */
  #best {height: auto;}
  #best .container {flex-wrap: wrap;}
  #best .container .left-img {width: 100%;}
  #best .container .right-contents {width: 100%;}
  #best .container .contents-text {width: 100%; padding-top: 30px; padding-right: 10px; text-align: right; }
  #best .container .category {font-size: 10px; opacity: 0.6;}
  #best .container .title {font-family: 'times new roman', 'serif'; font-size: 35px; line-height: 1.83; margin-bottom: 10px;}

  #best .container .right-contents ul {width: 1020px; flex-wrap: nowrap;}
  #best .container .right-contents ul li {width: 250px; padding: 10px 10px;}
  #best .container .right-contents ul li p.pd-title {font-size: 13px;}
  #best .container .right-contents ul li p.pd-name {font-size: 13px;}
  #best .container .right-contents ul li a.shop {font-size: 11px; margin-top: 10px;}

  /* inspires */
  #inspires {height: auto;}
  #inspires .container {width: 100%; display: flex; flex-wrap: wrap;}
  #inspires .container .left-img {width: 100%; height: 100vh; background: url(../img/04_main_event_banner1_pc_bg.jpg)center center no-repeat; background-size: cover;}

  #inspires .container .right-contents {width: 100%; padding-top: 0;}
  #inspires .banner-contents {position: static; color: var(--theme-color-secondary);}
  #inspires .banner-contents {width: 100%;}
  #inspires .banner-contents .category {margin-bottom: 15px;}
  #inspires .banner-contents .title {line-height: 1.6;}
  #inspires .banner-contents .sub-title {line-height: 1.6;}
  #inspires .banner-contents a {display: inline-block; margin-bottom: 20px;}

  /* sns */
  #sns .container .right-contents {width: 100%;}
  #sns .container .right-contents .contents-text {text-align: right; padding-right: 10px;}
  #sns .container .right-contents .category {font-size: 10px;}
  #sns .container .right-contents .title {font-size: 35px;}
  #sns .container .right-contents a {font-family: 'NotoSansKR',sans-serif; font-size: 10px; color: var(--theme-color-primary); border-bottom: 1px solid #a36d6a;}

  #sns .container .right-contents .insta-img:nth-of-type(1) {width: 70vw;}
  #sns .container .right-contents .insta-img:nth-of-type(2),
  #sns .container .right-contents .insta-img:nth-of-type(3),
  #sns .container .right-contents .insta-img:nth-of-type(4),
  #sns .container .right-contents .insta-img:nth-of-type(5),
  #sns .container .right-contents .insta-img:nth-of-type(6),
  #sns .container .right-contents .insta-img:nth-of-type(7),
  #sns .container .right-contents .insta-img:nth-of-type(8) {width: 45vw;}

  
}